<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<title>BUC - Quick IP</title>

	<!-- Bootstrap Core CSS -->
	<link th:href="@{css/bootstrap.min.css}" rel="stylesheet" />
	<!-- Custom CSS -->
	<link th:href="@{css/sb-admin.css}" rel="stylesheet" />
	<!-- Custom Fonts -->
	<link th:href="@{font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css" />

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	
	<!-- jQuery -->
	<script th:src="@{js/jquery.js}"></script>
	
	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{js/bootstrap.min.js}"></script>
	
	
	<!-- Editable Grid -->
	<script th:src="@{editablegrid-master/editablegrid.js}"></script>
	<!-- [DO NOT DEPLOY] --> <script th:src="@{editablegrid-master/editablegrid_renderers.js}" ></script>
	<!-- [DO NOT DEPLOY] --> <script th:src="@{editablegrid-master/editablegrid_editors.js}" ></script>
	<!-- [DO NOT DEPLOY] --> <script th:src="@{editablegrid-master/editablegrid_validators.js}" ></script>
	<!-- [DO NOT DEPLOY] --> <script th:src="@{editablegrid-master/editablegrid_utils.js}" ></script>
	<!-- [DO NOT DEPLOY] --> <script th:src="@{editablegrid-master/editablegrid_charts.js}" ></script>
	<link rel="stylesheet" th:href="@{editablegrid-master/editablegrid.css}" type="text/css" media="screen"></link>

	
	<script>
		function loadGrids(){
			ifacegrid = new EditableGrid("InterfaceGrid"); 
			ifacegrid.tableLoaded = function() { this.renderGrid("iface_table", "grid"); };
			ifacegrid.loadJSON("/api/quickip/grid/iface");
			
			
			routegrid = new EditableGrid("InterfaceGrid"); 
			routegrid.tableLoaded = function() { this.renderGrid("route_table", "grid"); };
			routegrid.loadJSON("/api/quickip/grid/route");
		
		}
	
		window.onload = function() {
			loadGrids()
		}
		setInterval(function(){ 
			loadGrids() 
		}, 30000);
	</script>
	
</head>

<body>
<div id="wrapper">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:fragment="nav">
		<div th:replace="fragments/brand :: brand"/>
		<div th:replace="fragments/user-menu :: user-menu"/>
		<div th:replace="fragments/static-nav :: nav-side" />
	</nav>
	<div id="page-wrapper">
	<div class="container-fluid">
		<ol th:replace="fragments/breadcrumb :: breadcrumb" />
		
		<!-- Page Heading -->
		<div class="row">
			<h1 class="page-header">Quick IP
					<small>...</small>
			</h1>
		</div>
		<!-- /.row -->
		
		<label>Interfaces:</label> <br />
		<div id="iface_table"></div>
		
		<label>Routing: </label> <br />
		<div id="route_table"></div>
		
	</div>
	<!-- /.container-fluid -->
	</div>
	<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->


</body>

</html>
