a { 
	color: #548dc4;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
table.grid {
	border-collapse: collapse;
	border: 1px solid #CCB;
	width: 800px;
}
table.grid td, table.grid th {
	padding: 5px;
	border: 1px solid #E0E0E0;
	vertical-align: text-top;
}
table.grid th {
	background: #E5E5E5;
	text-align: left;
}
input.invalid {
	background: red;
	color: #FDFDFD;
}

td.number {
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	white-space: nowrap;
}

td.number.nan {
	font-weight: normal;
	color: #AAA;
}

th.number {
	text-align: right;
}

td.boolean {
	text-align: center;
}

th.boolean {
	text-align: center;
}
